body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Notable', sans-serif;
    color: black;
    background-repeat: no-repeat;
    background-size: auto;
}

#banner {
    background-color: rgb(151, 148, 148);
    height: 5em;
    margin: 0;
}

h1 {
    text-align: center;
    height: 1.5em;
    margin-top: 0;
    padding-top: .4em;

}

.images {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    color: whitesmoke
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 5em;
    padding-top: .3em;

}

li {
    list-style-type: none;
    padding: 0 1em;
}


.image-slider {
    display: none;
}

.active {
    border-color: rgb(119, 118, 118);
}

img {
    opacity: 0.2;
    width: 100vw;
    position: absolute;

}

#makeup {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 5em;
    padding: 13em;

}

.maybelline {
    width: 28em;
    height: 28em;
    opacity: 1;
    padding: 0 18em;
}