body {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Fredoka One', cursive;
    color: rgb(241, 235, 235);
}

#banner {
    background-color: rgb(117, 121, 118);
    height: 5em;
    margin: 0;
}

h1 {
    text-align: center;
    height: 25px;
}

.images {
    max-width: 1000px;
    position: relative;
    margin: auto;
    color: black
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 5em;

}

li {
    list-style-type: none;
    padding: 0 1em;
}

.fa-circle {
    text-align: center;
    padding: 1em;
}

.image-slider {
    display: none;
}

.active {
    border-color: rgb(119, 118, 118);
}