body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Notable', sans-serif;
    color: black;
    background-repeat: no-repeat;
    background-size: auto;
}

#banner {
    background-color: rgb(192, 113, 179);
    height: 5em;
    margin: 0;
}

h1 {
    text-align: center;
    height: 1.5em;
    margin-top: 0;
    padding-top: .4em;

}

.images {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    color: whitesmoke
}

.navbar {
    display: inline-flex;
    flex-direction: row;
    width: 5em;
    padding: .3em 0;

}

li {
    list-style-type: none;
    padding: 0 1em;
}


.image-slider {
    display: none;
}

.active {
    border-color: rgb(119, 118, 118);
}

img {
    opacity: 0.3;
    width: 100vw;
    position: absolute;

}

#makeup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.maybelline {
    width: 28em;
    height: 28em;
    opacity: 1;
    padding-top: 3em;

}

.product-info {
    text-align: center;
    font-family: 'Merriweather', serif;

}



.spotlight {
    color: rgb(36, 35, 35);
    font-size: 2em;
    height: 7em;
    width: 5em;
    margin-left: 6em;
    display: inline-block;
    padding-top: 3em;
}

span {
    color: rgb(41, 41, 138);


}

.button {
    display: flex;
    margin-top: 25em;
}