body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Notable', sans-serif;
    color: black;
    background-repeat: no-repeat;
    background-size: auto;
}

#banner {
    height: 8em;
    margin: 0;
    background-image: url(assorted_makeup.jpg);
}

.background-img {
    height: 10em;
    opacity: .8;
}

h1 {
    text-align: center;
    font-size: 3em;
    height: 1.5em;
    margin-top: 0;
    padding-top: .5em;

}

.navbar {
    display: inline-flex;
    flex-direction: row;
    width: 5em;
    padding-top: 1em;
    margin-left: 38%;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;

}

li {
    list-style-type: none;
    padding: 0 1em;
}


.image-slider {
    display: none;
}

.active {
    border-color: rgb(119, 118, 118);
}

img {
    opacity: 0.3;
    width: 100vw;

}

.maybelline {
    width: 18em;
    height: 18em;
    opacity: 1;
    padding-top: 1em;

}

.container {
    text-align: center;
    font-family: 'Merriweather', serif;
    display: flex;
    background-color: black;
    padding: 8em 0 2em 25%;
    height: 60%;
}

.spotlight {
    color: rgb(36, 35, 35);
    font-size: 2em;
    height: 7em;
    width: 3em;
    margin-left: 4em;
    font-family: 'Notable', sans-serif;
    flex: 2
}

.sd {
    width: 7em;
    text-align: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3em;
}

span {
    color: #8c66c4;
    padding-top: 2em;
    line-height: 25%;


}

.button {
    display: flex;
    margin-top: 25em;
}

.footer {
    background-image: linear-gradient(#D1CBD9, #9D90A1);
    opacity: .7;
    height: 3em;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    width: 100vw;

}

.fab {
    font-size: 1.5em;
    padding-top: .5em;
    margin-left: 1.5em;
}

.product-name {
    font-family: 'Noto Sans JP', sans-serif;
    width: 15em;
    margin-left: 1.8em;
    font-weight: 900;
    color: white;
}

.fa {
    margin-left: 45%;
}

/* @media (max-width: 767.98px) {

    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 0em;
    }

    .product-name {
        padding-left: 20%;
    }

    .fa {
        margin-left: 25%;
    }

    .spotlight {
        margin-left: 20%;
    }

    .maybelline {
        padding-left: 5%;
    }

    .navbar {
        margin-left: 15%;
    }


}



@media (max-width:984.98px) {
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 0em;
    }

    .product-name {
        padding-left: 20%;
    }

    .fa {
        margin-left: 25%;
    }

    .spotlight {
        margin-left: 20%;
    }

    .maybelline {
        padding-left: 5%;
    }

    .navbar {
        padding-top: 10%;
        margin-left: 15%;
    }

    h1 {
        font-size: 2.5em;
    } */